version: '3.8'

services:
  spring1:
    image: spring
    container_name: mjinsta_spring_server_1
    ports:
      - "8080:8080"
    environment:
      AWS_ACCESS_KEY_ID: AKIAX3JRQ6WG4ER32DAS
      AWS_SECRET_ACCESS_KEY: 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
      db.mysql.url: jdbc:mysql://mysql:3306/instagram?useUnicode=true&character_set_server=utf8mb4&serverTimezone=Asia/Seoul
      db.mysql.username: root
      db.mysql.password: root
    networks:
      - mjinsta-network 

  spring2:
    image: spring
    container_name: mjinsta_spring_server_2
    ports:
      - "8081:8080"
    environment:
      AWS_ACCESS_KEY_ID: AKIAX3JRQ6WG4ER32DAS
      AWS_SECRET_ACCESS_KEY: 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
      db.mysql.url: jdbc:mysql://mysql:3306/instagram?useUnicode=true&character_set_server=utf8mb4&serverTimezone=Asia/Seoul
      db.mysql.username: root
      db.mysql.password: root
    networks:
      - mjinsta-network 

networks:
  mjinsta-network:
    external: true